{% extends '_partials/_base.twig' %}
{% block body %}
    <div class="flex no-margin">
        {%- for record in records -%}
            {%- with { 'records': records, 'record': record, 'loop': loop } only -%}
            {{- block('pagecolumn') -}}
            {%- endwith -%}
        {%- endfor -%}
    </div>
{% endblock %}
